<h4>
  Internal Server Error - Refreshing the page will make the error disappear.
</h4>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this. Angular is not to blame.
  </p>
  <p>What to do next?</p>
  <ol>
    <li>Open the Chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>Check the failing request</li>
    <li>Examine the request URL - Ensure it is the correct URL</li>
    <li>
      Reproduce error in Postman - If we see the same response then issue is not
      with Angular
    </li>
  </ol>
  <p>Following the stack trace</p>
  <code class="mt-5">{{ error.details }}</code>
</ng-container>
